* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#saffron {
  flex-grow: 1;
  background-color: #ff9933;
}

#white {
  flex-grow: 1;
  background-color: white;
}

#green {
  flex-grow: 1;
  background-color: green;
}
