* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

div:nth-child(1) {
  background-color: #ff9933;
  flex-grow: 1;
  border: 2px solid black;
}

div {
  background-color: white;
  flex-grow: 1;
  border: 2px solid black;
}

div:nth-child(3) {
  background-color: green;
  flex-grow: 1;
  border: 2px solid black;
}
