* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* border: 1px solid black; */
  width: fit-content;
}

hr:nth-child(1) {
  background-color: #ff9933;
  height: 33vh;
  width: 100vw;
  /* border: 1px solid black; */
}

hr:nth-child(2) {
  margin-top: 33vh;
  background-color: green;
  height: 34vh;
  width: 100vw;
  /* border: 1px solid black; */
}
