* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div:nth-child(1) {
  background-color: #ff9933;
  height: 33vh;
  width: 100%;
  border: 2px solid black;
}

div {
  background-color: white;
  height: 33vh;
  width: 100%;
  border: 2px solid black;
}

div:nth-child(3) {
  background-color: green;
  height: 34vh;
  width: 100%;
  border: 2px solid black;
}
