/* .container {
  width: 300px;
  border: 2px solid black;
} */

div:nth-child(1) {
  background-color: #ff9933;
  height: 50px;
  width: 300px;
  border: 2px solid black;
}

div {
  background-color: white;
  height: 50px;
  width: 300px;
  border: 2px solid black;
}

div:nth-child(3) {
  background-color: green;
  height: 50px;
  width: 300px;
  border: 2px solid black;
}
