* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
}

#flag {
  flex-grow: 1;
  background: linear-gradient(
    to bottom,
    #ff9933,
    #ff9933 33.33%,
    white 33.33%,
    white 66.66%,
    green 66.66%
  );
}
